#locationField, #controls {
  position: relative;
  width: 480px;
}
#autocomplete {
  width: 50%;
  z-index: 1;
}

#nav-autocomplete{
  width: 40%;
}

#locationField {
  height: 20px;
  margin-bottom: 2px;
  z-index: 1;
}