/*.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 50px;
    height: auto;
    max-width: 50px;
}*/

#thin-font {
  font-weight: 100;
  font-size: medium;
}

.carousel {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.carousel-caption {
    top: 0;
    padding-top: 0;

}

.caption {
    color: white;
}


img {
    width: 100%;
    height: auto;
    background-color: #696969;
}

/*.container {
    text-align: center;
}*/

      hr { 
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: auto;
          margin-right: auto;
          border-style: inset;
          border-width: 0.5px;
          border-color: gray;
      } 

/*.home-inner-text {
  width: 500px;
  height: auto;
}*/

#my-loc-opt {
  text-align: center;
  padding-top: 100px;
}

#thin-font>h4 {
    font-weight: 200;
} 


.h-thinner {
  font-weight: 300;
}

.home-inner-text {
  font-size: medium;
}




