{% extends 'base.html' %}
{% block title %} Add Favorite Location {% endblock %}

{% block style %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>


{% endblock %}


{% block content %}

    <div id="locationField">
    <form action='/addfavorite' method='POST'>
        Please Enter an address:<br>
        Address: <input type="text" id="autocomplete" name="address"
                        placeholder="Enter your address" onFocus="geolocate()"><br>

        What would you like to name your location?:<br>
        Title: <input type="text" id='title' name='title'>
        <input type="submit">
    </form>
    </div>

    <script defer type="text/javascript" src="{{ placesmapurl | safe }}"></script>


{% endblock %}