<!doctype = html>
<html>
<head>
    <title>{% block title %} INSERT TITLE HERE {% endblock %} </title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,400|Raleway:200|Roboto:100,200,400" rel="stylesheet">
    {% block style %} {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <link rel="stylesheet" type="text/css" href="/static/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">


    <style>

    .sticky {
      position: fixed;
      top: 0;
      width: 100%
    }
    .modal {
      z-index: 50;
    }

    .modal-backdrop{
      z-index: 10;
    }
    .modal-body {
      width: 100px;
      height: 200px;

    }

    </style>

</head>

<body>


<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href='/' style="color: white;"> Home </a></li>
        <li><a href='/location' style="color: white;"> Advanced Search </a> </li>

        {% if 'current_user' not in session %}
        <li><a href='/login' style="color: white;"> Log In </a></li>
<!--         <li><a href='/register'> Register </a></li> -->
    {% else %}
        <li><a href='/mypage' style="color: white;"> My Page </a></li>
        <li><a href='/logout' style="color: white;"> Log Out </a></li>
    {% endif %}

    </ul>
      <ul class="nav navbar-nav navbar-right">
        <form action='/prediction'>
          <li>Search for sunset prediction here  <input type="text" id="nav-autocomplete" name="address" placeholder="Enter an address" onFocus="geolocateNav()">
          <input type='hidden' name='my-nav-address' value='visible'>
          <!-- #303030 for real, #505050 for Demo purposes -->
          <input type="submit" style="background-color: #505050;"></li>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div id="page-content">
   {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == 'error' %}
        {% set category = 'danger' %}
      {% endif %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% block content %} INSERT CONTENT HERE {% endblock %}

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='/static/js/autocomplete.js'></script>

</body>
</html>
