{% extends 'base.html' %}
{% block title %} Location {% endblock %}
{% block style %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" href="/static/css/autocomplete.css">

{% endblock %}

{% block content %}

<h1> Location </h1>

    {% if 'current_user' in session %}
      <form action='/prediction'>
        {{ user_obj.user_name }}, choose from your favorites!<br>
        <select name="favoritelocation">
        {% for favorite in user_obj.favorites %}
          <option name='option'>{{favorite.favorite_title}}</option>
        {% endfor %}
        </select>
        <input type='submit'>

      </form>
    {%  endif %}

    <form action='/prediction'>
        Please enter the following information: <br>
        Latitude: <input type="text" name="lat"><br>
        Longitude: <input type="text" name="lon"><br>
        <input type="submit"> 
    </form>
    <div id="locationField">
    <form action='/prediction'>
        Or, enter an address:<br>
        Address: <input type="text" id="autocomplete" name="address"
                        placeholder="Enter your address" onFocus="geolocate()"><br>
        <input type="submit">
    </form>
    </div>
    



<p>Or, use your location!</p>


<form action='/prediction' id='usrlocation'>
  <input id='usrlat' type='hidden' name='usrlat' value='this did not work'>
  <input id='usrlng' type='hidden' name='usrlng' value='this did not work'>
</form>
<button id='submit'>use my location!</button>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script>


var x = document.getElementById("usrlocation");

function getLocation(evt) {
    console.log("in getLocation");
    evt.preventDefault();
    return new Promise(function(resolve, reject) {
      if (navigator.geolocation) {
        console.log("in if");
        navigator.geolocation.getCurrentPosition(resolve);      }
      else {
        console.log("in else");
        console.log("Geolocation is not supported by this browser.");
        reject();
      }
    });
  }

    // if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(assignPosition);
    // } else { 
    //     x.innerHTML = "Geolocation is not supported by this browser.";
    // }

// }

function assignPosition(position) {

    console.log('in assign position');
  return new Promise(function(resolve) {
    $('#usrlat').attr('value', position.coords.latitude);
    $('#usrlng').attr('value', position.coords.longitude);
    console.log("done with assignPosition");
    resolve();
  });
}

function submitForm() {
    console.log("in submitForm");
    $('#usrlocation').submit();
}

// callAll calls the getLocation function which returns a promise
//  --> promise is passed resolve and reject
//  --> promise wraps getCurrentPosition which has resolve as a callback
// Then, after the promise is resolved, we call assignPosition.
//  --> assignPosition is automatically passed position as part of the promise
//  --> assignPosition calls resolve() after changing value attributes in lat/lng hidden input
// Lastly, we call submit form. 
// .catch() is for the rejection.

function callAll(evt) {
  getLocation(evt)
    .then(assignPosition)
    .then(submitForm)
    .catch();

    // .then(function(){
    //   
    //   submitForm();});
}


$('#submit').on('click', callAll);

</script>






      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='/static/js/autocomplete.js'></script>
    <script defer type="text/javascript" src="{{ placesmapurl | safe }}"></script>


{% endblock %}
