{% extends 'base.html' %}
{% block title %} Advanced Search {% endblock %}
{% block style %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        text-align: center;
        width: 50%;
        height: 100%;
        border-width: 5px;
        border-color: black;
        border-style: solid;

      }

      .col-xs-6{
        text-align: center;

      }


      hr { 
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: auto;
          margin-right: auto;
          border-style: inset;
          border-width: 0.5px;
          border-color: gray;
      } 


    </style>

{% endblock %}

{% block content %}


<div class='container'>

  <h1> Advanced Search </h1>

  <form action='/prediction' id='usrlocation'>

    <div class='row'>



      <div class='col-xs-6' id='distance'>
        <p> Search Within:
            <select name='distance-search'>
              <option value='50' id='50' name='distance-filter'>50</option>
              <option value='10' id='10' name='distance-filter'>10</option>
              <option value='75' id='75' name='distance-filter'>75</option>
              <option value='100' id='100' name='distance-filter'>100</option>
              <option value='200' id='200' name='distance-filter'>200</option>
              <option value='500' id='500' name='distance-filter'>500</option>
              <option value='1000' id='1000' name='distance-filter'>1000</option>
            </select>
         km</p>
      </div>

      <div class='col-xs-6' id='search-options'>
        <p> Method: 
        <select name='method-filter'>
          <option value='my-location' id='my-location'>My Location</option>
          {% if 'current_user' in session %}
            <option value='my-favorites' id='my-favorites'>My Favorites</option>
          {% endif %}
          <option value='enter-coordinates' id='enter-coordinates'>Coordinates</option>
          <option value='enter-address' id='enter-address'>Address</option>
        </select>
        </p>
      </div>

    </div>


  <div id='my-loc-opt'>
    <input id='usrlat' type='hidden' name='usrlat' value='this did not work'>
    <input id='usrlng' type='hidden' name='usrlng' value='this did not work'>
  </div>



  <div id='my-fav-opt'>

  </div>



  <div id='coordinates-opt'>

  </div>



  <div id='address-opt'>

  </div>



    <br><br><br><br>

  </form>
  <button id='submit'>Submit!</button>

</div>

<!-- <div class='row'>
  <br>
<hr>
  <div class="col-xs-6 col-xs-offset-3">

  <h3><br>Use your location!</h3>


  <form action='/prediction' id='usrlocation'>
    <input id='usrlat' type='hidden' name='usrlat' value='this did not work'>
    <input id='usrlng' type='hidden' name='usrlng' value='this did not work'>
  </form>
  <button id='submit'>use my location!</button>
      <br>
      <br>
      <br>
      <hr>
      <br>

  </div>
</div>

<div class='row'>
  <div class="col-xs-6 col-xs-offset-3">

    {% if 'current_user' in session %}
      <form action='/prediction'>
        <h3> Choose from your favorites!</h3><br>
        <select name="favoritelocation">
        {% for favorite in user_obj.favorites %}
          <option name='option'>{{favorite.favorite_title}}</option>
        {% endfor %}
        </select>
        <input type='submit'>

      </form>

      <br>
      <hr>
      <br>
    {%  endif %}

</div>

</div>




<div class='row'>
  <div class="col-xs-6 col-xs-offset-3">
    <form action='/prediction'>
        <h3>Or, Enter Coordinates:</h3> <br>
        <table>
        <tr>
          <th>Latitude: </th>
          <td><input type="text" name="lat"><br> </th>
        </tr>
        <tr>
          <th>Longitude: </th>
          <td><input type="text" name="lon"><br> </th>
        </tr>
        </table>
        <input type="submit"> 
    </form>
    <br>
    <hr>
    <br>
</div>

</div>

<div class='row'>
  <div class="col-xs-6 col-xs-offset-2" id="LocationField">

    <form action='/prediction'>
        Or, enter an address:<br>
        Address: <input type="text" id="autocomplete" name="address"
                        placeholder="Enter your address" onFocus="geolocate()"><br>
        <input type="submit">
    </form>
</div>
    
<br>
<br>
<br><br><br>
<hr>
<br>
</div>


</div> -->



<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script>


var x = document.getElementById("usrlocation");

function getLocation(evt) {
    console.log("in getLocation");
    evt.preventDefault();
    return new Promise(function(resolve, reject) {
      if (navigator.geolocation) {
        console.log("in if");
        navigator.geolocation.getCurrentPosition(resolve);      }
      else {
        console.log("in else");
        console.log("Geolocation is not supported by this browser.");
        reject();
      }
    });
  }

    // if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(assignPosition);
    // } else { 
    //     x.innerHTML = "Geolocation is not supported by this browser.";
    // }

// }

function assignPosition(position) {

    console.log('in assign position');
  return new Promise(function(resolve) {
    $('#usrlat').attr('value', position.coords.latitude);
    $('#usrlng').attr('value', position.coords.longitude);
    console.log("done with assignPosition");
    resolve();
  });
}

function submitForm() {
    console.log("in submitForm");
    $('#usrlocation').submit();
}

// callAll calls the getLocation function which returns a promise
//  --> promise is passed resolve and reject
//  --> promise wraps getCurrentPosition which has resolve as a callback
// Then, after the promise is resolved, we call assignPosition.
//  --> assignPosition is automatically passed position as part of the promise
//  --> assignPosition calls resolve() after changing value attributes in lat/lng hidden input
// Lastly, we call submit form. 
// .catch() is for the rejection.

function callAll(evt) {
  getLocation(evt)
    .then(assignPosition)
    .then(submitForm)
    .catch();

    // .then(function(){
    //   
    //   submitForm();});
}


$('#submit').on('click', callAll);

</script>

    <script defer type="text/javascript" src="{{ placesmapurl | safe }}"></script>


{% endblock %}
