{% extends 'base.html' %}
{% block title %} Your Page {% endblock %}

{% block style %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<style type="text/css">
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

      .container {
/*        text-align: center;*/

      }

/*      .row {
        text-align: center;
      }*/


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .modal-body {
        width: 100px;
        height: 300px;
      }

      .modal-content{
        height: 300px;
      }

      #autocomplete{
        z-index: 100000;
      }

      #autocomplete.my-auto {
        width: 100%;
      }
      #photo-autocomplete.my-auto{
        width: 100%;
      }

      .pac-container{
        z-index: 1000;
      }

      .modal {
        z-index: 50;
      }

      .modal-backdrop{
        z-index: 10;
      }


      

</style>

<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">

{% endblock %}

{% block content %}

<div class='container'>


<div class='row'>
<h1> Hi {{ user_obj.user_name }}! </h1><hr><br>

<h3> Favorite Locations: </h3>

{% if user_obj.favorites %}
    <ul>
       {% for fav in user_obj.favorites %} 
        

      <li> <a href="/prediction?favoritelocation={{fav.favorite_title}}"> {{fav.favorite_title }}</a></li>
      <br>
        
        {% endfor %}
    </ul>
        <br>


{% else %}

    You haven't favorited anything yet!<br>


{% endif %}
</ul>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Click Here
        </button>
        <br> to add another favorite location!<br>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color: black;">Add Favorite Location</h4>
              </div>
              <div class="modal-body">
                <div id="locationField">
                    <form action='/addfavorite' method='POST'>
                      <p style="color: black;">
                        <table>
                          <tr>
                            <td style="color: black;">Name:</td>
                            <td style="color: black;"><input type="text" id='title' name='title'></td>
                          </tr>
                          <tr>
                            <td style="color: black;">Location:</td>
                            <td style="color: black;"><input class='my-auto' type="text" id="autocomplete" name="address"
                                          placeholder="Enter your address" onFocus="geolocate()"></td>
                          </tr>
                        </table>
                        <br>
                        <input type="submit">
                        </p>
                    </form>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
<br>
<hr>


<div class="row">
<h3> Your Photos: </h3>
<br>
{% if not user_obj.user_photos %}
    You haven't uploaded any photos yet!<br>
{% endif %}

<!-- <a href="/uploadphoto">Click Here</a> to upload more photos! -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myPhotoModal">
      Click Here
    </button>
    <br> to upload a photo!<br>

    <!-- Modal -->
    <div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" style="color: black;">Upload Photo</h4>
          </div>
          <div class="modal-body">
            <div id="locationField">
                <div>
                <form action='/uploadphoto' enctype="multipart/form-data" method='POST'>

                  <p style="color: black;">


                    <input type='file' name='img' accept='image/*'><br>

                    <table>
                      <tr>
                        <td style="color: black;">Photo Title: </td>
                        <td style="color: black;"><input type='text' name='title'> </td>
                      </tr>
                      <tr>
                        <td style="color: black;">Description: </td>
                        <td style="color: black;"><input type='text' name='description'></td>
                      </tr>
                      <tr>
                        <td style="color: black;">Date: </td>
                        <td style="color: black;"><input type='date' name='date'></td>
                      </tr>
                        <td style="color: black;">Location:</td>
                        <td style="color: black;"><input class='my-auto' type="text" id="photo-autocomplete" name="location" placeholder="Enter an Address" onFocus="geolocate()">
                        </td>
                      </tr>
                      <tr>
                        <td style="color: black;">Sunset Rating: </td>
                        <td style="color: black;"><select name='rating'>
                              <option value='1'> 1 </option>
                              <option value='2'> 2 </option>
                              <option value='3'> 3 </option>
                              <option value='4'> 4 </option>
                              <option value='5'> 5 </option>
                            </select>
                        </td>
                      </tr>
                    </table>
                    <br>
                    <input type="submit">
                  </p>
                </form>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>




{% if user_obj.user_photos  %}
        <br>
        {% for photo in user_obj.user_photos %}
        <div class="col-xs-3">
            <h3>{{ photo.photo_title }}<br></h3>

            <a target="_blank" href="{{ photo.filepath }}">
            <img src="{{ photo.filepath }}" alt="Photo" style="width:150px">
            </a>
            <br> {{ photo.description }}<br>
            Sunset Rating: {{ photo.sunset_rating }}<br>
            Date Taken: {{ photo.datetime }}<br>
            Taken {{ photo.airport_dist}} meters from {{ photo.airport.airport_name }}, {{ photo.airport.icao_code }}

        </div>
        {% endfor %}<br>

{% endif %}
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src='/static/js/autocomplete.js'></script>
<script defer type="text/javascript" src="{{ placesmapurl | safe }}"></script>



{% endblock %}